{% extends "master.html" %}

{% block title %}Register{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 offset-md-3 bg-light p-5 border shadow rounded">
            <h1 class="mb-5 text-center">Register</h1>
            <form class="" method="post">
                <!-- form errors -->
                {% csrf_token %}
                {{ form.as_div }}
                <button type="submit" class="btn btn-lg btn-success w-100">Register</button>
                <p class="text-center mt-3">Already have an account? <a href="{% url 'login' %}">Login</a></p>
            </form>
        </div>
    </div>
{% endblock %}